$maincolor:green;
$secondcolor:orange;
$bodercolor: orange;
$linkcolor:orange;
$boxshadowcolor:grey;

html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;


}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1 0 auto;
    min-height: 100%;
    
    

}

.titrepage {
    text-align: center;
}

.para {
    margin: 50px 50px 50px 50px;
}

.brand{
    background-color: $maincolor;
    color: $secondcolor;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: $secondcolor solid 1px;
}

.menu {
    /* border: grey solid 1px ; */
    box-shadow: inset 0 0 0em $boxshadowcolor, 0 0 2em $boxshadowcolor;
    
    
}

.menu-haut{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 300px;
   
}

.menu-bas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
    height: 300px;
}

.menu-1{
    background-color: #fcdfdb;
    flex: auto;
    margin-right: 10px;
    margin-left: 60px;
    transition: background-color 250ms;
    &:hover {
        background-color: darken(#fcdfdb, 5);
    }
    
}

.menu-2{
    background-color: #fff5fe;   
    flex: auto;
    margin-right: 10px;
    margin-left: 60px;
    transition: background-color 250ms;
    &:hover {
        background-color: darken(#fff5fe, 5);
    }
}

.menu-3{
    background-color: #f9f9f9;  
    flex: auto;
    margin-right: 10px;
    margin-left: 60px;
    transition: background-color 250ms;
    &:hover {
        background-color: darken(#f9f9f9, 5);
    }
}

.menu-4{
    background-color: #fdfffd;
    flex: auto;
    margin-left: 10px;
    margin-right: 60px;
    transition: background-color 250ms;
    &:hover {
        background-color: darken(#fdfffd, 5);
    }
}

.icon-menu {
    margin-top: 40px;
    height: 100px;
    text-align: center;
}

.btn {
    background-color: $maincolor;
    color: $secondcolor;
    text-align: center;
    padding: 0px 45px 0px 40px ;
    margin: auto;
    margin-top: 0px ;
    margin-bottom: 30px;
    width: 180px;
}

.btn h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.btn-rounded {
    border-radius: 0.7rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    color: $secondcolor;
    background-color: $maincolor;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    z-index: 10;
    bottom: 0;

    
}

footer a {
    text-decoration: none;
    color: $linkcolor;


}

// footer a:hover {
    
// }

.footer-border {
    border-top: $bodercolor solid 1px;

}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
    }
    @keyframes ellipsis {
    to {
    width: 30px;    
    }

    }
    @-webkit-keyframes ellipsis {
    to {
    width: 30px;    
    }
    }

    .zoom {
        transition: transform .2s;
      }
      
      .zoom:hover {
        transform: scale(1.2);
      }

// @media {

// }

// @media {
    
// }

// @media {
    
// }